{% extends 'layouti.html' %} 
{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />

  <div class="w3-container" id="home" style="margin-top:75px;">
    <h1 class="w3-xxxlarge" style="color:#EE6C4D"><strong>Today's Feed</strong></h1>
      <br><br>
      <!--Card-->
    <div class="card">
        <!--Card content-->
        <div class="card-body">
            <!--Text-->
            <div class="panel">
                <div class="panel-body">
                  <textarea class="form-control" rows="1" placeholder="Ask for a recomendation!"></textarea>
                    <div class="input-group-append">
                        <input type="submit" name="post" value="Post!">
                    </div>
                </div>
              </div>
        </div>
    </div>
    <br>
    <div class="card">
        <!--Card content-->
        <div class="card-body">
            <!--Text-->
            <div class="panel">
                <div class="panel-body">
                <!-- Newsfeed Content -->
                <!--===================================================-->
                <div class="media-block">
                    <div class="media-body">
                        <div class="mar-btm">
                            <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                            <p class="text-muted text-sm">{{category}}</p>
                        </div>
                        <p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                        <div class="pad-ver">
                        </div>
                        <hr>
                        <input type="text" class="form-control" placeholder="Post a comment">
                        <div class="input-group-append">
                        <input type="submit" name="post" value="Post!">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!--/.Card-->
    <br>
    <div class="card">
        <!--Card content-->
        <div class="card-body">
            <!--Text-->
            <div class="panel">
                <div class="panel-body">
                <!-- Newsfeed Content -->
                <!--===================================================-->
                <div class="media-block">
                    <div class="media-body">
                        <div class="mar-btm">
                            <a href="#" class="btn-link text-semibold media-heading box-inline">Lisa D.</a>
                            <p class="text-muted text-sm">{{category}}</p>
                        </div>
                        <p>consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                        <div class="pad-ver">
                        </div>
                        <hr>
                        <input type="text" class="form-control" placeholder="Post a comment">
                        <div class="input-group-append">
                        <input type="submit" name="post" value="Post!">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
    
    {% if peticiones %}
        {% for j in peticiones %}
            <!-- Inicio de card -->
            <div class="card">
                <!--Card content-->
                <div class="card-body">
                    <!--Text-->
                    <div class="panel">
                        <div class="panel-body">
                            <!-- Newsfeed Content -->
                            <!--===================================================-->
                            <div class="media-block">
                                <div class="media-body">
                                    <div class="mar-btm">
                                        <a href="#" class="btn-link text-semibold media-heading box-inline">{{peticiones[j]['4']}}</a>
                                        <p class="text-muted text-sm">{{peticiones[j]['2']}}</p>
                                    </div>
                                    <p>
                                        {{peticiones[j]['1']}}
                                    </p>
                                    <div class="pad-ver"></div>
                                    <hr />
                                    <form method="POST" action="">
                                        <button class="btn btn-sm btn-primary pull-right" type="submit" style="color:#EE6C4D;" name = "id" value = "{{peticiones[j]['0']}}"></i>Abrir</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <input type="text" class="form-control" placeholder="Post a comment">
                        <div class="input-group-append">
                        <input type="submit" name="post" value="Post!">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin de card -->
            <br><br>
        {% endfor %}
    {% endif %}
</div>


{% endblock %}
