{% extends 'layouti.html' %} 
{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />

  <div class="w3-container" id="home" style="margin-top:75px;">
    {% if categoria %}
    <h1 class="w3-xxxlarge" style="color: #ee6c4d;"><strong>{{categoria}}</strong></h1>
    {% else %}
    <h1 class="w3-xxxlarge" style="color: #ee6c4d;"><strong>Home: Todas las categorías</strong></h1><a href="/nueva_peticion" style = "position:relative; left:900px;">Ask for a recommendation!</a>
    {% endif %}
      <br><br>
    
    {% if petitions %}
        {% for j in petitions %}
            <!-- Inicio de card -->
            <div class="card">
                <!--Card content-->
                <div class="card-body">
                    <!--Text-->
                    <div class="panel">
                        <div class="panel-body">
                            <!-- Newsfeed Content -->
                            <!--===================================================-->
                            <div class="media-block">
                                <div class="media-body">
                                    <div class="mar-btm">
                                        <a href="#" class="btn-link text-semibold media-heading box-inline">{{petitions[j][4]}}</a>
                                        <p class="text-muted text-sm">{{petitions[j][2]}}</p>
                                    </div>
                                    <p>
                                        {{petitions[j][1]}}
                                    </p>
                                    <div class="pad-ver"></div>
                                    <hr />
                                    
                                    <a class="btn btn-sm btn-primary pull-right" type="submit" style="color:#EE6C4D;" name = "id" href= "/peticion/{{petitions[j][0]}}"></i>Abrir</a>
                                    
                                </div>
                            </div>
                        </div>
                        <hr>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin de card -->
            <br><br>
        {% endfor %}
    {% endif %}
</div>


{% endblock %}
