{% extends 'layoutp.html' %}

{% block body %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" style = "position:relative; left:190px; top:50px;">
    <div class="row">
        <div class="col-md-8">
            <div class="post-content">
              <div class="post-container">
                <div class="post-detail">
                  <div class="user-info">
                    <h5><a class="profile-link" style="color:#3D5A80">{{response['0']['4']}}</a></h5>
                  </div>
                  <div class="line-divider"></div>
                  <div class="post-text">
                    <p>{{response['0']['1']}} <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                  </div>
                  <div class="line-divider"></div>

                  {% for j in response %}
                    {% if j != '0' %}
                      <div class="post-comment">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="profile-photo-sm">
                        <p><a class="profile-link" style="color:#3D5A80">{{response[j]['3']}} </a><br> {{response[j]['1']}} </p>
                      </div>
                    {% endif %}
                  {% endfor %}
                  
                  <form method="POST" action = "" class="box">
                    <div class="post-comment">
                      <input type="text" class="form-control" name="comment" placeholder="Post a comment">
                      <div class="input-group-append">
                          <input type="submit" name="post" value="Post!">
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}