{% extends 'layoutpro.html' %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% block body %}
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="/static/profil.png" alt=""/>
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                {{info[0][0]}}
                            </h5>
                            <h6>
                                {{info[0][1]}}
                            </h6>
                            <form method="POST" action = "" class="box">
                                <div class="input-group-append">
                                    <button type="submit" name="delete" value="u{{info[0][0]}}" class="btn btn-danger">Delete</button>
                                </div>  
                            </form>  
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Petitions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Recommendations</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <a href="">{{info[0][0]}}</a><br/>
                    <a href="">{{info[0][1]}}</a><br/>
                    <a href="">{{info[0][2]}}</a>
                    
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    {% if pet_perso %}
                        {% for i in pet_perso %}
                                <div class="row">
                                    <div class="panel panel-default" style="width: 90%;">
                                        <div class="panel-heading">{{pet_perso[i][1]}}</div>
                                        <div class="panel-body">{{pet_perso[i][4]}}
                                            <form method="POST" action = "" class="box">
                                                <div class="input-group-append">
                                                    <button type="submit" name="delete" value="p{{pet_perso[i][0]}}" class="btn btn-danger" style = "position:relative; left:290px;">Delete</button>
                                                </div>  
                                            </form>
                                        </div>
                                    </div>    
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        {% if com_perso %}
                            {% for j in com_perso %}
                            <div class="row">
                                <div class="panel panel-default" style="width: 90%;">
                                    <div class="panel-heading">{{com_perso[j][1]}}</div>
                                    <div class="panel-body">{{com_perso[j][4]}}
                                        <form method="POST" action = "" class="box">
                                            <div class="input-group-append">
                                                <button type="submit" name="delete" value="c{{com_perso[j][0]}}" class="btn btn-danger" style = "position:relative; left:290px;">Delete</button>
                                            </div>  
                                        </form>  
                                    </div>
                                </div>    
                            </div>
                            {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>           
</div>
{% endblock %}