{% extends 'layoutpro.html' %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% block body %}
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="/static/profil.png" alt=""/>
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                Kshiti Ghelani
                            </h5>
                            <h6>
                                aqui va el Email
                            </h6>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Petitions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Recommendations</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>My Categories</p>
                    <a href="">category</a><br/>
                    <a href="">category</a><br/>
                    <a href="">category</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="panel panel-default" style="width: 90%;">
                                        <div class="panel-heading">Category</div>
                                        <div class="panel-body">aqui va lo que se escribio
                                            <div class="input-group-append">
                                                <input type="submit" name="post" value="Delete!" style = "position:relative; left:290px;">
                                            </div>  
                                        </div>
                                    </div>    
                                </div>
                    </div>
                    <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="panel panel-default" style="width: 90%;">
                                <div class="panel-heading">Category</div>
                                <div class="panel-body">aqui va lo que se escribio
                                    <div class="input-group-append">
                                        <input type="submit" name="post" value="Delete!" style = "position:relative; left:290px;">
                                    </div>  
                                </div>
                            </div>    
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>           
</div>
{% endblock %}