{% extends 'layout.html' %}

{% block body %}
<div class="row">
  <div class="col-md-6">
      <div class="card">
          <form onsubmit="event.preventDefault()" class="box">
              <h1 style="color:#EE6C4D">Reset Password</h1>
              <input type="email" name="Resemail" placeholder="Email"> 
              <input type="submit" name="reset" value="Reset" href="/login" onclick="clickAlert()">
          </form>
      </div>
  </div>
</div>
<script>
    function clickAlert(){
    alert("An email has been sent to you to reset your password!");
    window.location = '/login';
    }
 </script>
{% endblock %}